### THIS FILE IS AUTOMATICALLY CONFIGURED ###
# You may comment out entries below, but any other modifications may be lost.
# Use command 'dpkg-reconfigure mysql-apt-config' as root for modifications.
#deb http://repo.mysql.com/apt/ubuntu/ precise mysql-apt-config
 deb http://repo.mysql.com/apt/ubuntu/ precise mysql-5.6
# deb http://repo.mysql.com/apt/ubuntu/ precise workbench-6.2
# deb http://repo.mysql.com/apt/ubuntu/ precise connector-python-2.0
# deb http://repo.mysql.com/apt/ubuntu/ precise utilities-1.5

# deb-src http://repo.mysql.com/apt/ubuntu/ precise mysql-5.6